* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    align-self: auto;
}
:root{
    --cl-principal: #5AB7FA;
    --cl-secundario: blue;
    --cl-apoyo: yellow;

    --cl-fuente-principal: #000;
    --cl-fuente-secundaria: #fff;
    --cl-fuente-apoyo: #ccc;

}
body {
    margin: 0 auto;
    max-width: 1440px;
    max-height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, 300px) 2fr 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas:
        'aside header header'
        'aside main main'
        'footer main main'
    ;
}

/* header */
header {
    background-color: var(--cl-secundario);
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--cl-fuente-secundaria);
}

/* main */
main {
    grid-area: main;
    padding: 30px;
    max-height: 90%;
    overflow-y: scroll;
}

main .activas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-height: 380px;
    overflow-y: scroll;
    border-bottom: 2px solid #000;
}

.card {
    width: 250px;
    max-height: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card img {
    width: 100%;
    max-height: 200px;
    background-color: #ccc;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-description {
    font-size: 1em;
    color: #555;
}

main .equipo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 10px;
    /* max-height: 180px; */
    /* overflow-y: scroll; */
}

.contactos .lista-contactos {
    display: grid;
    row-gap: 10px;
}

.contactos .lista-contactos .contacto-item {
    width: 100%;
    max-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contactos .lista-contactos .contacto-item .profile-name{
    align-self: center;
}

.contactos .lista-contactos .contacto-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: s;
}

.habilidades {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.skill-list {
    list-style: none;
}

.habilidad-rango {
    width: 100%;
}

/* Aside */
aside {
    background-color: var(--cl-principal);
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

aside .perfil {
    max-width: 200px;
}

aside .perfil .perfil-img {
    width: 100%;
}

aside .nivel {
    height: 250px;
    width: 250px;
    background-color: #fff;
    border-radius: 50%;
    align-self: flex-end;
}

/* Footer */
footer {
    background-color: var(--cl-apoyo);
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 2rem;
}

footer i {
    width: 100px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

footer i:hover {
    background-color: #fff;
}